{
  "presets": [
    "es2015",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-class-properties", 
    "babel-polyfill", 
    "transform-regenerator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
